body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;      
    background-color: gray; 
}

.container {
    width: 320px;
    height: 280px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: left;
    min-width: 250px;
}